.footer-container {
    display: flex;
    padding: 20px;
    border-top: 3px solid;
    background-color: var(--grey);
    width: 100%;
    height: 200px;
}

.social-icons {
    width: 100%;
    opacity: 80%;
}

.social-icons:hover {
    opacity: 100%;
}