:root {
  --white: #fff;
  --grey: #B7B7B7;
  --blue: #456990;
  --black: #000;
  --dark-blue: #0e1b29;
}

* {
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
  justify-content: left;
}

html, body {
  margin: 0;
  overflow-x: hidden;
  min-height: 100vh;
  min-width: 320px;
  background-color: var(--grey);
  place-items: center;
}

a {
  text-decoration: none;
  color: var(--blue);
  position: relative;
}

a:after {

}

a:hover::after {

}

h1 {

}

h3 {

}

@media screen and (max-width: 765px) {
  .name {
    font-size: 15px;
  }
}